/**
* Event Espresso dashboard ticketing menu styles 
*
*/

a[href="admin.php?page=template_confg"] {
	border-bottom: none !important; padding: auto;
}
a[href="admin.php?page=event_tickets"]{
	border-bottom: none !important; padding: auto;
}
a[href="admin.php?page=event_certificates"]{
	border-bottom: 1px solid #ccc; margin-bottom: 5px; padding-bottom: 5px;
}